:lang(en) .btn-set-rollover,:lang(en) .btn-set-readmore,:lang(en) .popover-content-big>li:before,:lang(en) .sidebar-menu-data:after ,:lang(en) .panel:after,:lang(en) .sidebar-menu-icon>li:after,:lang(en) .logo-set,:lang(en) .navbar-nav>li>a,:lang(en) .navbar-brand{background-image:url("/images/sprite-eng.png");}
:lang(en) .navbar-nav>li.nav1>a{width:77px;background-position:-151px 0px;}
:lang(en) .navbar-nav>li.nav1:hover>a{background-position:-151px -51px;}
:lang(en) .navbar-nav>li.nav2>a{width:145px;background-position:-240px 0px;}
:lang(en) .navbar-nav>li.nav2:hover>a{background-position:-240px -51px;}
:lang(en) .navbar-nav>li.nav3>a{width:140px;background-position:-390px 0px;}
:lang(en) .navbar-nav>li.nav3:hover>a{background-position:-390px -51px;}
:lang(en) .navbar-nav>li.nav4>a{width:100px;background-position:-540px 0px;}
:lang(en) .navbar-nav>li.nav4:hover>a{background-position:-540px -51px;}
:lang(en) .navbar-nav>li.nav5>a{width:190px;background-position:-650px 0px;}
:lang(en) .navbar-nav>li.nav5:hover>a{background-position:-650px -51px;}
:lang(en) .navbar-nav>li.nav6>a{width:115px;background-position:-850px 0px;}
:lang(en) .navbar-nav>li.nav6:hover>a{background-position:-850px -51px;}
:lang(en) .navbar-nav>li.nav7>a{width:65px;background-position:-972px 0px;}
:lang(en) .navbar-nav>li.nav7:hover>a{background-position:-972px -51px;}
:lang(en) .btn-set-anupan{background-position:-130px -204px;}
:lang(en) .btn-set-anupan:hover{background-position:-130px -244px;}
:lang(en) li.active>.btn-set-anupan{width:82px;background-position:-130px -285px;}
:lang(en) .companies{font-size:17.5px;}
:lang(en) .btn-set-cal2{width:130px;background-position:-746px -204px;}
:lang(en) li.active>.btn-set-cal2{width:130px;}
:lang(en) li.active>.btn-set-cal2{background-position:-746px -285px;}
:lang(en) .btn-set-cal2:hover{background-position:-746px -244px;}
:lang(en) li.active>.btn-set-cal1{width:112px;background-position:-593px -285px;}
:lang(en) .btn-set-cal1{width:112px;background-position:-593px -204px;}
:lang(en) .btn-set-cal1:hover{background-position:-593px -244px;}
:lang(en) .login-register{width:135px;}
:lang(en) .btn-set-faq{width:104px;height:55px;background-image:url("/commons/img/icon_faqs.jpg");}
:lang(en) .btn-set-webchat{width:104px;height:55px;background-image:url("/commons/img/icon_webchat.jpg");}
:lang(en) .video-title{width:360px;}
@media (max-width:767px){:lang(en) .login-register{width:100%;}
}
@media (min-width:992px) and (max-width:1024px){:lang(en) .login-register{top:4px;right:50px;height:30px;width:150px;}
}
@media (min-width:768px) and (max-width:991px){:lang(en) .login-register{top:4px;right:50px;height:30px;width:150px;}
}
@media (min-width:1025px){:lang(en) .footer-social{bottom:-85px;}
}
