.navbar-toggle .icon-bar{background:#000;width:25px;height:3px;-webkit-border-radius:0px;-moz-border-radius:0px;-o-border-radius:0px;border-radius:0px;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:5px;}
.tap-sign{position:absolute;top:250px;transition:0;}
.fixed-side .tap-sign{position:fixed;top:250px;}
.tap-sign.inward{right:0px;}
.fixed-side .tap-sign.inward{right:0;}
.tap-sign.outward{right:-24px;}
a.btn-tap-sidebar{display:block;width:24px;height:66px;background:url(/images/mobile/tap.png) no-repeat top left;}
@media (min-width:992px){.nav-get-f{margin:10px;padding:5px;background:#C4C4C4;}
.nav-get-f i{color:#acacac;display:inline-block;padding-right:10px;height:20px;line-height:20px;vertical-align:middle;font-size:24px;border-right:1px dotted #000;}
}
@media (min-width:992px) and (max-width:1024px){.text-slide{width:100%;}
.navbar-nav > li{position:relative;border-top:1px #484848 solid;border-bottom:1px #484848 solid;}
.nav-set-form{display:none;}
}
@media (min-width:1200px){}
@media (min-width:768px) and (max-width:1024px){.news2-content{width:395px;}
.nav-get-f button{padding-left:15px;padding-right:15px;background:none;border:none;height:40px;font-family:'db_helvethaicamon_x55_regular';font-size:22px;}
.nav-get-f input[type=text]{max-width:150px;padding:10px;border:none;padding-right:0px;background:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
}
@media screen and (max-width:991px){.nav-set-form{display:none;}
.classroom-sidebar, .posttrade-sidebar{width:100%;}
#slideNews2 , .news2-tab-content{height:auto;}
.set-hide-submenu>li{margin-bottom:2px !important;}
#accordion>.panel>.collapse{height:0px !important;}
.sidebar-bg{height:100%;}
.sr-content img{margin-left:-10px;}
.calendar{width:100%;}
#body-content{padding-right:25px;padding-left:42px;}
.sidebar-body-content{overflow:visible;}
.sidebar-fixed-top.sidebar-fixed-above-footer{}
.quote-body-nav{max-width:inherit;}
.quote-body{padding:10px;padding-bottom:40px;}
.quote-body>.tab-content{padding-top:15px;}
.quote-header h3{width:330px;}
.nav-tab-quote>li{float:left;margin-right:5px;}
.quote-detail{height:auto;}
.quote-chart{max-width:100%;}
.chart-container{height:auto;}
.chart-container>img{width:auto;}
.quote-body-center{border:0;}
.nav-tab-quote>li.active>a{border-bottom:#FFF 1px solid;border-right:1px #cccccc solid;}
.nav-tab-quote{border-right:none;border-bottom:1px #cccccc solid;}
.border-bottom-yellow-4{border:none;}
.header{background-color:#e8e8e8;position:relative;margin-bottom:0px;}
.logo_header{max-width:none;margin-right:0;padding-right:0;}
.logo_banner{padding-top:0;}
.logo-set{background:url(/images/logo_mobile.png) no-repeat center center;float:left;}
.logo-set-th{background:url(/images/logo_mobile_th.png) no-repeat center center;float:left;}
.logo-set-en{background:url(/images/logo_mobile_en.png) no-repeat center center;float:left;}
.search_header{width:100%;height:auto;background-color:#6c6c6c;padding:0 15px;}
.navbar-brand{display:none;}
.mini-language-menu{list-style:none;padding-left:0px;}
.mini-language-menu li{display:inline-block;}
.mini-language-menu li a{font-family:'db_helvethaicamon_x55_regular';font-weight:bold;font-size:18px;padding:5px 10px;color:#000;}
.mobile-language-selector{font-family:'db_helvethaicamon_x55_regular';background:#484848;padding:3px 10px;}
.mobile-language-selector strong{font-size:24px;color:#fcb134;}
.mobile-language-selector ul{list-style:none;padding:0;margin:3px 0 0 0;}
.mobile-language-selector ul li{display:inline-block;border-right:1px solid #fff;}
.mobile-language-selector ul li.last-item{border-right:none;}
.mobile-language-selector ul li a{display:block;padding:3px 8px;color:#fff;font-size:18px;height:25px;line-height:25px;vertical-align:middle;}
.mobile-language-selector ul li a.sel-japan,
.mobile-language-selector ul li a.sel-chinese{font-size:14px;}
.text-slide{width:100%;}
#top-nav{position:absolute;top:30px;right:0;width:100%;z-index:2000;background:none;}
#top-nav .navbar-toggle{background:#484848;border-radius:0;height:50px;margin-bottom:0;margin-top:6px;}
#top-nav .navbar-toggle .icon-bar{background:#e8e8e8;}
#top-nav .navbar-toggle.collapsed{background:none;}
#top-nav .navbar-toggle.collapsed .icon-bar{background:#000;}
#nav-header{background:#717171;height:auto;overflow-x:hidden;max-height:none;}
#top-nav .navbar-nav{margin-top:0;margin-bottom:0;}
.navbar-nav > li{position:relative;border-top:1px #484848 solid;border-bottom:1px #484848 solid;}
.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:active,
.navbar-nav > li.open > a, .navbar-nav > li.open > a:hover, .navbar-nav > li.open > a:focus{width:100% !important;height:50px;background:#e8e8e8;line-height:50px;vertical-align:middle;color:#484848;font-weight:bold;}
.navbar-nav > li > a::after{content:"";position:absolute;display:block;width:17px;height:10px;top:20px;right:27px;background:url(/images/mobile/nav-arrow-down.png) no-repeat center center;}
.navbar-nav > li.open > a::after{background-image:url(/images/mobile/nav-arrow-up.png);}
.navbar-nav > li > .dropdown-menu > li{margin:0;padding:0;}
.navbar-nav > li > .dropdown-menu > li > a{padding:5px 20px;}
.navbar-nav>li.nav1>a, .navbar-nav>li.nav2>a, .navbar-nav>li.nav3>a, .navbar-nav>li.nav4>a,
.navbar-nav>li.nav5>a, .navbar-nav>li.nav6>a, .navbar-nav>li.nav7>a, .navbar-nav>li.nav8>a{background-image:none;}
.braner-and-search{height:auto;}
#nav-form-search{}
#nav-form-search.collapsing, #nav-form-search.in{display:block;}
#nav-form-search input{margin:13px 0;}
.nav-get-f{margin:10px;padding:5px;background:#C4C4C4;}
.nav-get-f >.pull-left{width:150px;}
.nav-get-f >.pull-right{width:90px;}
.nav-get-f input[type=text]{padding:10px;border:none;padding-right:0;width:150px;background:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.nav-get-f i{color:#acacac;display:inline-block;padding-right:10px;height:20px;line-height:20px;vertical-align:middle;font-size:24px;border-right:1px dotted #000;}
.nav-get-f button{background:none;border:none;height:40px;font-family:'db_helvethaicamon_x55_regular';font-size:22px;}
.btn-toggle-search{float:right;margin-top:8px;margin-bottom:8px;font-size:20px;color:#000;outline:none;}
.btn-toggle-search:hover, .btn-toggle-search:focus, .btn-toggle-search:active:focus{color:#000;text-decoration:none;outline:none;}
.sidebar-menu-fast{height:auto;}
.btn-set-fastmenu{width:165px;}
.sidebar-menu-data::after, .panel::after{content:none;width:100%;}
.set-hide-submenu>li>a{padding:9px 0 9px 15px;background-color:#bbbbbb;}
#sidebar-wrapper{max-width:100%;border-right:8px #fcb034 solid;position:absolute;z-index:1900;}
#sidebar-wrapper.sidebar-open{left:0;overflow:scroll;}
#sidebar-wrapper.sidebar-close{}
#sidebar ul.set-hide-submenu>li:hover{background:none;}
#sidebar ul.set-hide-submenu>li:hover>a{color:#fff;}
#sidebar{position:relative;}
.popover-title{display:none;}
#sidebar .popover{float:none;margin:0;width:100%;max-width:100%;border:0;border-bottom:2px solid #fcb034;padding:0;}
.fix-height .dropdown-submenu>li{height:auto;}
#sidebar .sidebar-menu-fast{}
#sidebar-wrapper.sidebar-fixed-top{position:fixed;top:0;}
.dropdown-submenu{padding:0 6px;}
#sidebar{}
.dropdown-submenu>li>a{padding:9px 0 9px 25px;background-color:#bbbbbb;width:100%;display:inline-block;}
.dropdown-submenu>li{padding:2px 0;margin:0 4px;list-style:none !important;line-height:inherit;margin-left:4px !important;}
.dropdown-submenu li a:hover{color:inherit !important;background-color:#bbbbbb;}
.dropdown-submenu.last{padding-right:0;}
.popover-content-big>li::before{margin-bottom:0;display:none;}
.popover-content-big>li
#body-content{width:100%;padding-left:42px;padding-right:30px;}
#body-content .col-xs-12{margin-top:20px;}
.content-set .tab-content{height:auto;}
.set-tab-content{margin-top:70px;padding-top:0px;max-height:none;}
.set-tab-content > .tab-pane{border:none;height:auto;}
.slide-tab{width:100%;}
#slideImage .carousel-indicators{width:auto;margin:0 10px;}
.nav-tab-sub{height:40px;}
.nav-tab-sub > li{position:static;}
.nav-tab-sub > .first.active{}
.nav-tab-sub .first{}
.nav-tab-sub-btn.nav-btn{text-align:left;top:80px;z-index:100;}
/*.content-new .nav-tab-sub-btn.nav-btn,*/
.content-video .nav-tab-sub-btn.nav-btn{position:absolute;top:28px;z-index:100;}
.content-video .nav-tab-sub-btn.nav-btn > div{margin-top:10px;}
.ipo-content .nav-tab-sub-btn.nav-btn{position:absolute;top:45px;z-index:100;}
.content-video .nav-tab-sub-btn.nav-btn
.ipo-content .nav-tab-sub-btn.nav-btn{height:0px;}
.nav-tab-sub-btn li{float:none;display:inline-block;}
.nav-tab-sub li.active>.btn-set-santun{width:91px;}
.content-new, .ipo-content{position:relative;}
.news-tab-content{height:auto;}
.news-tab-yellows{margin-top:90px;}
#slideNews{height:auto;}
.ipo-content-collapse{overflow:hidden;height:auto;max-height:none;}
.ipo-content .tab-content.ipo-content-collapse{margin-top:90px;}
#slideVideo .carousel-indicators{position:absolute;margin-left:-30%;margin-bottom:0px;width:60%;bottom:8px;left:50%;}
}
@media screen and (min-width:768px){.news2-content{}
#slideNews2>.carousel-inner{overflow:auto;}
.bs-example{margin-right:0;margin-left:0;background-color:#fff;border-color:#ddd;border-width:1px;border-radius:4px 4px 0 0;-webkit-box-shadow:none;box-shadow:none;}
.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight{margin-top:-16px;margin-right:0;margin-left:0;border-width:1px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
}
@media screen and (min-width:768px) and (max-width:1199px){#slideNews2, .news2-tab-content{height:210px;}
#slideNews2>.carousel-inner{height:175px;}
}
@media (max-width:480px){}
@media (max-width:480px) and (orientation:landscape){}
@media (max-width:767px){
.fullpage { padding: 0 15px; }
#top-nav .navbar-nav{margin:0 -7px;}
.tab-pane-hide .border-left-set{border-left:0;}
.tab-pane-hide{border-right:0;}
#nav-set>div:first-child, #nav-mai>div.first-child{border-right:0;}
.ipo-content .tab-content{margin-top:95px;}
.content-set .nav-tab-sub > li{margin-top:10px;}
.content-set .nav-tab-sub{height:50px;}
.nav-tab-sub-btn.nav-btn{top:110px;}
.classroom-menu{width:100%;}
.classroom-menu>li{width:100%;background-color:#FFEEDE;margin:auto;float:none;margin-bottom:15px;}
.classroom-menu>li>a{display:block;}
.classroom-menu>li:first-child{margin-left:auto;}
.classroom-menu>li>a>i{margin-bottom:0;}
.opportunity-banner{text-align:center;}
#sidebar-wrapper{margin-top:-110px;position:fixed;top:0;margin-top:0;z-index:5000;}
#sidebar-wrapper.sidebar-fixed-top{margin-top:0px;}
#sidebar-wrapper.sidebar-fixed-top .tap-sign{top:250px;}
.news-content{margin-top:0;}
.sidebar-fixed-top.sidebar-fixed-above-footer{position:absolute !important;bottom:0;margin-top:210px;}
.sidebar-fixed-top.sidebar-fixed-above-footer>#sidebar>.tap-sign{top:2578px;}
.sidebar-body-content{position:relative;}
.navbar-collapse{max-height:none;overflow:hidden;}
.row.margin-right-0{margin-right:-15px;}
#login-box, .login-header{padding:0 10px;width:100%;height:auto;background:#6c6c6c;float:none;}
#login-box .login-box-container{padding:10px;}
#login-box h4{font-family:'db_helvethaicamon_x55_regular';font-weight:bold;font-size:30px;color:#fcb134;}
#login-box .input-text-login{display:block;margin:10px 0;padding:10px;width:100%;height:auto;}
.login-register{position:static;margin:0;padding:10px;height:auto;border:none;font-size:12px;line-height:28px;width:100%;}
.login-register a{color:#FFFFFF;text-decoration:underline;}
.login-register label{color:#FFFFFF;}
.btn-set{margin:10px 0 10px 0;width:100%;font-size:24px;}
.btn-set-gray{color:#484848;background-color:#FCB134;}
.date-select .btn-set{margin:0;width:auto;font-size:18px;}
.content-video{width:100%;}
.content-video .tab-content{margin-top:30px;}
.video-title{text-align:left;font-size:32px;padding-left:20px;}
.video-bg .bg-white{width:70px;}
/*.content-video li.first{margin-left:5px;}
.content-video li > .btn-set-setgroup{width:83px;background-position:-11px -676px;}
.content-video li.active > .btn-set-setgroup{width:83px;background-position:-11px -755px;}
.content-video li > .btn-set-money{width:70px;background-position:-258px -676px;}
.content-video li.active > .btn-set-money{width:70px;background-position:-258px -755px;}*/
.bignav-header{height:auto;}
.bignav-menu-button-only > li{margin-top:6px;background-color:#e8e8e8;width:100%;height:63px;}
.bignav-menu-button-only > li > a{width:100%;height:63px;display:block;transition:none;-webkit-transition:none;}
.bignav-menu-button-only .nav-btn.btn-set-rollover{background:#E8E8E8;}
.bignav-menu-button-only .nav-btn.btn-set-rollover:before{content:'';position:absolute;width:250px;height:63px;background-image:url("/images/sprite.png");}
.bignav-menu-button-only .nav-btn.btn-set-rollover:active,
.bignav-menu-button-only .nav-btn.btn-set-rollover:focus{background:#231f20;}
.btn-set-bignav1.btn-set-rollover:before{background-position:0px -859px;}
.btn-set-bignav2:before{background-position:-327px -859px;}
.btn-set-bignav3:before{background-position:-652px -859px;}
.btn-set-bignav1:active:before, .btn-set-bignav1:focus:before{background-position:0px -924px !important;}
.btn-set-bignav2:active:before, .btn-set-bignav2:focus:before{background-position:-327px -924px !important;}
.btn-set-bignav3:active:before, .btn-set-bignav3:focus:before{background-position:-652px -924px !important;}
.btn-set-tsd:before{background-position:-982px -859px;}
.btn-set-tch:before{background-position:-1310px -859px;}
.btn-set-tsd:active:before, .btn-set-tsd:focus:before{background-position:-982px -924px !important;}
.btn-set-tch:active:before, .btn-set-tch:focus:before{background-position:-1310px -924px !important;}
li.active>.bignav-menu-arrow, li:hover>.bignav-menu-arrow{padding-top:0;}
.bignav-body{display:none;}
.sr, .spotlight{height:auto;}
.sr-arrow{padding:4px 0px 0px;}
.spotlight-arrow{float:right;padding:4px 10px 0px;}
.sr-arrow > .btn-set-arrow,
.spotlight-arrow > .btn-set-arrow{background:none;padding:0px 6px;height:auto;}
.sr-title{width:180px;}
.spotlight-title{padding:16px 0 0 43px;}
.sr-title a, .sr-title a:hover,
.spotlight-title a, .spotlight-title a:hover{color:#000;text-decoration:none;}
.spotlight-title i{vertical-align:middle;}
.spotlight-header{background-size:auto;background-repeat:no-repeat;}
.under-content{padding-left:27px;padding-right:15px;}
.under-content .contact-select{text-align:center;}
.under-content .contact-call{margin-top:20px;text-align:center;}
.under-content .contact-text{border:none;margin-left:0;padding-left:0}
.under-content .contact-phone{max-width:none;}
.icon-phone{float:none;vertical-align:middle;}
.footer-header-bg{display:none;}
.footer-bg{min-height:initial;}
.footer-menu{margin-top:0px;}
.footer-menu > li{float:none;width:100%;margin-bottom:2px;}
.footer-menu > li > a{padding-left:27px;text-align:left;background:#e8e8e8;}
.footer-menu > li > ul{display:none;}
.footer-social{position:static;}
.footer-col-3{width:100%;padding-left:10px;}
.footer-body-menu{border:none;padding-left:17px;}
.footer-bottom{padding:10px 22px;}
.nav-get-f{margin:10px;padding:5px;background:#f2f2f2;}
}
@media screen and (min-width:1200px){#slideNews2>.carousel-inner{overflow:visible;}
}